<script setup>
import {  RouterView } from 'vue-router'
import { useWebAppPopup, MainButton } from 'vue-tg'

const { showAlert } = useWebAppPopup()

</script>

<template>
  <header>
    <MainButton text="Open alert" @click="() => showAlert('Hello!')" />
  </header>

  <RouterView />
</template>

<style scoped>
</style>
